<div id="footer_wrap" class="outer">
  <footer class="inner">

  <h5 style="color:#fff">Power Grid Lib Administrator</h5>
  <p> <a href="https://github.com/{{site.data.config.admin_github_username}}">{{site.data.config.admin_name}}</a> 
    - {{site.data.config.admin_email}} <br/>
  </p>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72209330-2', 'auto');
    ga('send', 'pageview');

  </script>

  </footer>
</div>
